<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
      <section name="FileArchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <FileArchiver.Properties.Settings>
      <setting name="LastSourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSearchCriteria" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemePreference" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>850</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainGridRow0Height" serializeAs="String">
        <value>400</value>
      </setting>
    </FileArchiver.Properties.Settings>
  </userSettings>
</configuration>
